.body-html{
	font-family: Times New Roman, serif;
	background-color:pink;
	margin:0px;
	padding: 0px;
	color: black;
	height: auto;
	position: relative;
}

.body-size {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-content: center;
}

.navbar {
	height: 55px;
	width: auto;
	list-style: none;
	background-color:orange;
}

.nav-words{
	color: black;
    text-decoration: none;
}
.navbar-text:hover{
	color: pink;
}

.btn-primary{
	background-color:#a70101e8;
	color:white;
	width:150px; 
	align-items: center;
}

.btn-primary-block:hover{
	background-color: #a70101ad;
}