.body-html{
	font-family: Georgia, serif;
	background-color:#ffe6ff;
	margin:0px;
	padding: 0px;
	color: black;
	height: auto;
	position: relative;
}

.body-size {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-content: center;
}

.navbar {
	height: 55px;
	width: auto;
	list-style: none;
	background-color:#993366;
	font-family: Copperplate, sans-serif;
}

.nav-words{
	color: black;
    text-decoration: none;
}
.navbar-text:hover{
	color: #d279a6;
}

.btn-primary{
	background-color:#993366;
	color:white;
	width:150px; 
	align-items: center;
	font-family: Copperplate, sans-serif;
}

.btn-primary-block:hover{
	background-color: #d279a6;
}

.jumbotron{
	background: transparent;
	align-items: center;
	position: relative;
	height: auto;
	padding:3rem 10rem;
}

.form-words{
	font-family: Copperplate, sans-serif;
	font-size: 1rem;
}

.form-fields{
    padding-right: 30px;
    padding-left: 20px;
}

.carousel-caption{
	color: black;
}

.carousel-inner{
	width: 100%;
	height: 500px;
	position: static;
}

.carousel img {
  margin: auto; 
}

.carousel-item{
	position: static;
}
@media screen and (max-width: 600px) {
	.jumbotron.responsive {position: relative;}
	.body-html.responsive {position: relative;}
}

.entry-card {
	position: relative;
	background-color: #e6e6ff;
	display: flex;
	margin-bottom: 30px !important;
	box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.01);
  	transition: all .5s ease; 
  	font-family: Georgia, sans-serif;
}

.entry-card:hover {
	transform: translate3D(0,-1px,0) scale(1.03);
	box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.10);
  	transition: all .4s ease;
}


@media (min-width: 576px) {
	.card-deck {
		display: grid;
		grid-template-columns: auto auto auto;
	}
}

.footer {
	 position: absolute;
 	bottom: 0;
	width: 100%;
}
