# Ignore Following
db.sqlite3
__pycache__/
travelBlog/__pycache__/
travelEntries/__pycache__/
travelEntries/migrations/__pycache__/
.DS_Store
static/.DS_Store
../.DS_Store
static/Images/.DS_Store

# Config File with DB Credentials
config.py

# Directory Containing Entry Images
entryImages/