{% extends "index.html" %}
<html>
<head>
	{% block title %}<title> Home Page </title> {% endblock title %}
</head>
{% block content %}
<body class = "body-html body-size">
	<div class = "container">
		<br>
		<h3 class = "text-center"> View Any Entry You Like </h3>
		<br>
	<div class = "card-deck">
	<!-- Creating a card per entry in the database -->
	{% for entry, user, img in data %}
	<div class="card entry-card">
		<a href="{% url 'viewEntry' entry_id=entry.id %}" style = "text-decoration: none; color: black">
			<img src="{{img.image.url}}" class="card-img-top" alt="..." style = "height:300px;">
			<div class="card-body">
			    <h5 class="card-title">{{entry.title}}</h5>
			    <p class="card-text"><small class="text-muted">By: {{user}}</small></p>
	  		</div>
		</a>
	</div>
	{% endfor %} 
	</div>
</div>
</body>
{% endblock content %}
</html>
