{% extends "index.html" %}
<html>
<head>
	{% block title %}<title> Login Page </title> {% endblock title %}
</head>
{% block content %}
<body class = "body-html body size">
	<h2> {{ message }}</h2>
	<form action="{% url 'login' %}" method = post>
		<!-- Django Cross site scripting protection -->
		{% csrf_token %}
		<div class ="jumbotron">
			<div class = "container text-center form-words" style="height: 40px"> Log Into Your Account Here </div>

			<!-- Fields for Login form --> 
			{% for field in loginform %}
			<div class="form-group text-center form-field">
				{{ field.errors }}
				<label class = "text-center form-words"> {{ field.label_tag }} </label>
				{{field}}
			</div>
			{% endfor %}

			<!-- Login Button -->
			<div class = "text-center">
				<button type = "submit" class = "btn btn-primary btn-primary-block"> Login </button>
			</div>
			<br>

			<!-- Route to registration page -->
			<div class = "text-center">
				New User? <a href="{% url 'register' %}">Register Here</a>
			</div>
		</div>
	</form>
</body>
{% endblock content %}
</html>