{% extends "index.html" %}
<html>
<head>
	{% block title %}<title> Login Page </title> {% endblock title %}
</head>
{% block content %}
<body class = "body-html body size">
	<div class ="jumbotron">
		<div class = "container text-center form-words" style="height: 40px"> Log Into Your Account Here </div>
		<div class="form-group text-center form-fields">
			<label class = "text-center form-words"> Username </label>
			<input type = "username" name = "username">
		</div>	
		<div class="form-group text-center form-fields">
			<label class = "text-center form-words"> Password </label>
			<input type="password" name="password">
		</div>
		<div class = "text-center">
			<button type = "submit" class = "btn btn-primary btn-primary-block"> Login </button>
		</div>
	</div>
</body>
{% endblock content %}
</html>