{% extends "index.html" %}
<html>
<head>
	{% block title %}<title> Add New Blog Entry </title> {% endblock title %}
</head>
{% block content %}
<body class = "body-html body-size">
	<h3> {{ message }}</h3>
	<form enctype="multipart/form-data" action="{% url 'newEntry' %}" method = post>
		<!-- Django Cross site scripting protection -->
		{% csrf_token %}
		<div class ="jumbotron">
			<div class = "container text-center form-words" style="height: 40px"> Add A New Travel Entry Here </div>
				<div class = "text-center">
					{% for field in entryform %}
					<row class = "form-group form-fields">
						{{field.errors}}
						<label class = "text-center form-words">{{field.label_tag}}</label>
						{{field}}
					</row>
					{% endfor %}
				</div> 
				<div class = "text-center">
					{{ imageformset.management_form }}
		    			{% for form in imageformset %}
		    			<br>
		        		{{ form }}
	    			{% endfor %}
				</div>
			</div>

			<div class = "form-group text-center">
				<button type = "submit" class = "btn btn-primary btn-primary-block"> Enter Entry </button>
			</div>
		</div>
	</form>
</body>
{% endblock content %}
</html>