{% extends "index.html" %}
<html>
<head>
	{% block title %}<title> Registration Page </title> {% endblock title %}
</head>
{% block content %}
<body class = "body-html body-size">
	<h3> {{ message }}</h3>
	<form action="{% url 'register' %}" method = post>
		<!-- Django Cross site scripting protection -->
		{% csrf_token %}
		<div class = "jumbotron">
			<div class="container text-center form-words" style="height: 40px"> Please Provide The Following Information </div>
				{% for field in registrationform %}
				<div class = "form-group text-center form-fields">
					{{ field.errors }}
						{% if not field.label == 'Role' %}
						<label class = "text-center form-words"> {{field.label_tag}}</label>
						{% endif %}
					{{field}}
				</div>
				{% endfor %}
				<input type="hidden" name="role" value="General User" />
			<div class = "form-group text-center">
				<button type = "submit" class = "btn btn-primary btn-primary-block"> Register </button>
			</div>
		</div>
	</form>
</body>
{% endblock content %}
</html>